{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta name='author' content=''><meta name='description' content=''>
	<meta name='keywords' content=''>
	<link rel='stylesheet' href="{% static 'css/magic.css' %}" type='text/css' />
	<title>Magic</title>
</head>
<body>
	<a class='home' href="{% url 'index' %}">Home</a>
	<div class='Task_Magic'>
		<a class='theme'>Magic</a>
		<li>Laser Deal 75%</li>
		<li>Bermuda Triangle 55%</li>
		<li>Shin Sprint 20%</li>
	</div>
	<div class='Task_Technique'>
		<a class='theme'>Technique</a>
		<li>Snap Deal 80%</li>
		<li>Top Shot 80%</li>
		<li>Classic Pass 65%</li>
		<li>Turner Shift 50%</li>
		<li>Bottom Palm 50%</li>
		<li>Classic Force 50%</li>
	</div>
	<div class='other'>
		<li><a class='m-world' href='https://www.studio52magic.com/podcast/'>STUDIO52</a></li>
		<li><a class='manuever' href='http://www.script-m.jp/'>scriptmanuever</a></li>
	</div>
</body>
</html>