<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	<meta name='author' content=''><meta name='description' content=''>
	<meta name='keywords' content=''>
	<link rel='stylesheet' href='./css/study.css' type='text/css' />
	<title>Study</title>
</head>
<body>
	<div class='university_sub'>
		<a class='day' href=''>University Subject</a>
		<div class='farst_part'>
			<div class='sophomore'>
				<li>電子回路Ⅰ</li>
				<li>フーリエ解析</li>
				<li>論理回路</li>
				<li>複素関数論</li>
				<li>確率統計</li>
				<li>幾何光学</li>
				<li>固体物性Ⅰ</li>
				<li>量子力学</li>
				<li>統計物理</li>
				<br>
			</div>
			<div class='junior'>
				<li>電子回路Ⅱ</li>
				<li>信号処理</li>
				<li>制御工学</li>
				<li>現代制御論</li>
				<li>波動光学</li>
				<li>画像情報工学</li>
				<li>光エレクトロニクス</li>
				<li>通信工学</li>
				<li>電磁波工学</li>
				<li>光通信工学</li>
			</div>
		</div>
		<div class='latter_half'>
			<div class='junior'>
				<li>固体物性Ⅱ</li>
				<li>半導体工学</li>
				<li>電気機器工学</li>
				<li>パワーエレクトロニクスⅠ</li>
				<li>パワーエレクトロニクスⅡ</li>
				<li>電力システム工学</li>
				<li>回路設計CAD</li>
				<li>電気法規</li>
				<li>計算機ソフトウェア</li>
				<br>
			</div>
			<div class='senior'>
				<li>計測工学</li>
				<li>情報通信システム</li>
				<li>情報通信法規</li>
				<li>画像処理工学</li>
				<br>
			</div>
		</div>
	</div>
	<div class='Done_sub'>
		<a>Done Subject</a>
		<div class='freshman'>
			<li>電磁気学</li>
			<li>電気回路</li>
			<li>C言語</li>
			<li>微積分</li>
			<li>線形代数</li>
			<li>ベクトル解析</li>
			<li>微分方程式</li>
			<br>
		</div>
		 <li>Scraping</li>
		 <li>Faster RCNN</li>
		 <li>HTML</li>
		 <li>CSS</li>
	</div>
	<div class='Touched_sub'>
		<a>Touched Subject</a>
		<li>Django</li>
		<li>Rexx</li>
		<li>構造力学</li>
		<li>相対性理論</li>
		<li>カオス理論</li>
		<li>Deep Learning</li>
	</div>
	<div class='Todo_sub'>
		<a>To Do Subject</a>
		<li>Javascript</li>
		<li>PHP</li>
	</div>
	<a class='home' href='./home.html'>Home</a>
</body>
</html>