{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta name='author' content=''><meta name='description' content=''>
<meta name='keywords' content=''>
<title>Notitle</title>
<a href="{% url 'update' %}">UPDATE</a>
</head>
<body>
<div class='Rits_info'>
<iframe src='https://www.jma.go.jp/jp/yoho/334.html' width='700px' height='565px'></iframe>
<a class='home' href="{% url 'index' %}">Home</a>
<div class='comic'><a href=https://tonarinoyj.jp/episode/13932016480028985383 target='_blank'>2020/04/04[第173話] ワンパンマン</a></div>
<div class='rits'><a href=https://ct.ritsumei.ac.jp/ct/home target='_blank'>manaba+R</a></div>
<h3 class='info1'>コンテンツ「第2回授業資料と課題」が追加されました。</h3>
<p class='detail1'>トップページ
第０２回：   「生物体の組織化」
      細胞の発見、植物細胞／動物細胞、多細胞生物／単細胞生物
  WEBによる授業で、レジメを見ただけではわからないことが多いと思われます。第１回講義と同様、対面授業ができるようになったら少し時間を割いて、第２回授業もフォローしたいと考えます。９０分で話すところを２０～３０分ぐらいに短縮しますので一から言葉の説明ができません。そのとき全く言葉がわからないため理解ができないということがないようにしてもらうために、以下２点について調べておいて下さい。
  １つめは原核生物と真核生物の違いについて
  ２つめは単細胞生物と多細胞生物の違いについて
  人類は望遠鏡を使って宇宙や地球についていろいろなことを発見しました。また顕微鏡が発明されると、極めて小さいものにも関心を向け、細胞を発見しました。そして細胞が生物を構成する最小単位であることがわかってきました。生物は原核生物と真核生物に分けられ、真核生物の細胞は原核生物の細胞に比べて容積が１０００倍ぐらい大きく、機能的にも違う点が多くあります。原核生物は細菌のようにすべて１つの細胞のみで構成されておりますが(単細胞生物)、真核生物にはアメーバのような単細胞生物と、多くの細胞から構成される多細胞生物もいます。これらがごちゃごちゃにならないように頭の中で整理しておいて下さい。
 
生物科学１レジメ（02回目）.ppt - 2020-04-12 10:54:53
  2020-04-12 10:55 - 岡野 友信- 1.1版</p>
<h3 class='info2'>コンテンツ「確率統計学」が追加されました。</h3>
<p class='detail2'>確率統計学の基礎と応用
  確率統計学
200410確率統計.pdf - 2020-04-10 23:36:56
  2020-04-10 23:37 - 杉本 末雄- 1.1版</p>
<h3 class='info3'>お知らせ「【民間財団奨学金募集案内】公益財団法人浦上奨学会　2018年7月西日本豪雨特別奨学生の2020年度募集について（ご案内）」が配信されました。</h3>
<p class='detail3'>学部生の皆さまへ
  奨学金ホームページですでにお知らせしておりますが、現在、以下の奨学金の募集を受け付けています。希望される方は出願してください。
民間財団の浦上奨学会より、「2020年度　2018年７月西日本豪雨特別奨学生」の募集があり、学部生向けにmanaba＋Rにて配信をしています。
※なおこの案内は学部生すべての方に配信しています。ご了承ください。
  ●募集財団名
公益財団法人　浦上奨学会　（2020年度　2018年7月西日本豪雨特別奨学生）
●対象
2018年7月西日本豪雨による被災者対象、対象地域指定あり。
●概要
2018年7月西日本豪雨（対象地域指定あり）によって経済事情が悪化し、修学が困難な大学生を支援するための特別奨学金です。
※その他詳細は、財団の募集要項をご覧ください。
●募集要項・願書
下記に添付しています。
●提出〆切（学内〆切）
5月２2日（金）までに所属キャンパスの学生オフィスまでご提出ください。
また、郵送での出願も受け付けします。衣笠学生オフィスまでご郵送ください。（学内〆切必着）
  　郵送先　（特定記録郵便でご送付ください。）
〒603-8577
京都市北区等持院北町56-1
立命館大学衣笠学生オフィス　奨学金係（浦上奨学会　西日本豪雨書類在中）
こちらは大学から1名の推薦なので、学内選考があります。学内での〆切日にご注意ください。
 
2020年度西日本豪雨特別奨学生　募集要項（学生に配布）.pdf - 2020-04-10 18:34:39
  
西日本豪雨 特別奨学生願書.docx - 2020-04-10 18:34:54
  
西日本豪雨 特別奨学生推薦書.docx - 2020-04-10 18:35:03
    今回ご案内しているもの以外にも募集中のものがあります。下記ホームページの「民間財団・地方公共団体奨学金」にて、一覧を掲載していますのでご覧ください。
http://www.ritsumei.ac.jp/scholarship/economic03.html/
＜本件に関する問い合わせ先＞
衣笠学生オフィス
TEL：075-465-8168
E-mail: ruscolar@st.ritsumei.ac.jp</p>
<h3 class='info4'>お知らせ「【民間財団奨学金募集案内】　JEES日本語教育普及奨学金（検定）」が配信されました。</h3>
<p class='detail4'>JEES日本語教育普及奨学金（検定）に合格された方へ
  奨学金ホームページですでにお知らせしておりますが、現在、以下の奨学金の募集を受け付けています。希望される方は出願してください。
なお、このご案内は全ての方にお送りしております。ご了承ください。
  ●募集財団名
JEES日本語教育普及奨学金（検定）（公益財団法人　日本国際教育支援協会）
●対象
2019年度に実施された日本語教育能力検定試験（検定）に合格した者
●概要
日本語教育普及を図るため日本語指導者の養成に資することを目的とするため、2019年度に実施された日本語教育能力検定試験（検定）に合格し、日本語指導者を目指すものに対し奨学金を支給する。
※その他詳細は、財団の募集要項をご覧ください。
●募集要項・願書
財団ホームページより各自ダウンロードしてください。
http://www.jees.or.jp/foundation/jltct-scholarship.htm
●提出〆切（学内〆切）
4月23日（木）までに衣笠学生オフィスまでご郵送ください。（学内〆切必着）
郵送先　（特定記録郵便でご送付ください。）
〒603-8577
京都市北区等持院北町56-1
立命館大学衣笠学生オフィス　奨学金係（JEES日本語教育普及奨学金（検定）書類在中）
出願に際して学内選考があります。学内での〆切日にご注意ください。
  今回ご案内しているもの以外にも募集中のものがあります。下記ホームページの「民間財団・地方公共団体奨学金」にて、一覧を掲載していますのでご覧ください。
http://www.ritsumei.ac.jp/scholarship/economic03.html/

＜本件に関する問い合わせ先＞
衣笠学生オフィス
TEL：075-465-8168
E-mail: ruscolar@st.ritsumei.ac.jp</p>
<h3 class='info5'>お知らせ「2021年度　春期出発交換留学　1次募集中止について」が配信されました。</h3>
<p class='detail5'>学生の皆さんへ

2021年度　春期出発交換留学の1次募集を５月下旬に予定しておりましたが、新型コロナウィルス感染症の蔓延に伴い、派遣先での教育、学習環境の安全が担保できない現状を考慮し、１次募集を中止いたします。９月下旬の2次募集につきましては、現在例年通り実施予定ですが、新型コロナウィルス感染症の収束状況を勘案し判断する必要がありますので、詳細につきましては、確認次第manaba+Rと海外留学ホームページにて告知いたします。また、２次募集の対象となる協定校につきましては、９月下旬の時点で手続き上、受け入れが可能である協定校に限定されますので、例年より学校数が減少する可能性があります。予めご理解くださいますようお願いいたします。</p>
<h3 class='info6'>お知らせ「E) BBPでのアドバイジング/Advising desk at BBP」が配信されました。</h3>
<p class='detail6'><English is below>
学生の皆さんへ

こんにちは。国際教育センターです。

感染拡大防止期間の、BBPでのアドバイジングデスクについては以下の通り運用します。
学内での国際交流や、今後の留学計画に関する相談はもちろん、
今回留学をする予定でキャンセルとなった方、留学の途中で帰国された方もいらっしゃるかと思いますが、
そのような留学相談に関するアドバイジングを受けることも可能です。
希望される方は、ぜひ所属キャンパスのBBP事務局までご連絡ください。

○衣笠：筆内先生 予約を希望する場合は、衣笠BBP事務局（kic-bbp@st.ritsumei.ac.jp）宛にメールしてください。
メール件名は「アドバイジング予約」とし、メール本文に①名前、②所属と学年、③希望日時（以下のタイムテーブルより都合の良い日時を選択してください）を書いてください。
担当教員からの返信をもって予約完了とします。
 
BBP Intercultural Advising Desk_Spring 2020.pdf - 2020-04-10 17:52:33
 
○OIC：村山先生
予約を希望する場合は、OICBBP事務局（oic-bbp@st.ritsumei.ac.jp）宛にメールしてください。
メール件名は「OICアドバイジングデスク予約」とし、
メール本文に①名前、②所属学部・研究科と学年、③簡単な相談内容を書いてください。
アドバイジング日時や方法については、担当教員とEメールで相談しながら決めていきます。

○BKC：LIU SORAYA先生
予約を希望する場合は、BKCBBP事務局（bkc-bbp@st.ritsumei.ac.jp）宛にメールしてください。
メール件名は「OICアドバイジングデスク予約」とし、
メール本文に①名前、②所属学部・研究科と学年、③簡単な相談内容を書いてください。
アドバイジング日時や方法については、担当教員とEメールで相談しながら決めていきます。
-------------------------------------------------------------------------------------------------

Dear students,

Hello. This is the International Center.
We are writing to let you know about how to make an appointment with the BBP Advisor 
during the Infection Prevention Period. Please follow the instructions below.

○KIC Ms. Fudeuchi If you would like to make a reservation, please send an Email to the KIC BBP office at (kic-bbp@st.ritsumei.ac.jp).
The title of your Email is "a request for intercultural advising at KIC".
In your Email, please include ① your name, ② your college / school and year (e.g. second year undergraduate in the College of International Relations), ③date and time (Please see the Timetable below and choose a time that is convenient for you.)
The date of your advising session will be confirmed by the instructor via Email.
 
BBP Intercultural Advising Desk_Spring 2020.pdf - 2020-04-10 17:52:47
 

○OIC Ms. Murayama If you would like to make a reservation, please send an Email to the OIC BBP office at (oic-bbp@st.ritsumei.ac.jp).
The title of your Email is "a request for intercultural advising at OIC".
In your Email, please include ① your name, ② your college / school and year (e.g. second year undergraduate in the College of Policy Science), ③ your questions and concerns regarding studying abroad and intercultural issues on campus.
The date and method of your advising session will be arranged by the instructor via Email.

○BKC Ms. LIU SORAYA If you would like to make a reservation, please send an Email to the BKC BBP office at (bkc-bbp@st.ritsumei.ac.jp).
The title of your Email is "a request for intercultural advising at BKC".
In your Email, please include ① your name, ② your college / school and year (e.g. second year undergraduate in the College of Information Science and Engineering), ③ your questions and concerns regarding studying abroad and intercultural issues on campus.
The date and method of your advising session will be arranged by the instructor via Email.</p>
<h3 class='info7'>お知らせ「【教職支援センター】大阪府公立学校教員採用試験選考テストに関する説明資料のご提供について」が配信されました。</h3>
<p class='detail7'>教員採用試験の受験を予定されている皆さんへ

教職支援センター主催の学内説明会について、
全て中止となっておりますが、
大阪府より、本来学内で実施する予定であった採用選考テスト学内説明会の資料（パワーポイントとともに、説明内容を文書化したもの）を提供いただきましたので、
以下共有させていただきます。

なお、学内者向けに特別に提供いただいていますので、
ご自身のみでご活用ください。

教職支援センター

  大阪府公立学校教員採用試験選考テストに関する説明資料
1-3setsumeishiryou.pdf - 2020-04-10 17:40:58
 </p>
<h3 class='info8'>お知らせ「新歓活動のお知らせについてのご案内」が配信されました。</h3>
<p class='detail8'>学生の皆さん

大学は、新型コロナウイルス感染拡大防止を目的として課外自主活動団体に、春学期オリエンテーション期における新入生勧誘活動の自粛を要請しました。
学友会からの要請を受けて、大学では学友会中央事務局特別事業部が集約しました2020年度新歓期課外自主活動団体チラシをmanaba+R（以下、URL）に掲載する予定です。
また、すでにmanaba+Rでご案内していますが、新入生と上回生の歓迎・交流機会を担保するものとして、大学では、ＷＥＢ上で新入生と課外自主活動団体との交流の場を設けます。こちらの情報についても以下の同じWEBサイトに掲載しますのでご確認ください。

※この交流会は「skype for business」を利用するものですが、この「skype for business」の操作をテストしていただく機会も設ける予定です。（任意参加）4月16日（木）にこのテストを予定していますので、参加団体の皆さんおよび新入生の皆さんはご予定をお願いします。時間や方法等のこの詳細も改めて以下のWEBサイトでご案内いたします。

＜課外自主活動に関わるmanaba+R URL＞
https://secure.ritsumei.ac.jp/students/pathways-future/student_life/volunteer.html/
※manaba+Rのログイン画面にアクセスすることになります。ご自身のIDとパスワードを入力してHPをご確認ください。

■立命館大学クラブ・サークルWEB交流会に関するリマインド
※本案内は上回生向けのリマインド案内です。

課外自主活動団体のWEB交流会の申し込みは4月12日締め切りです。
参加希望の団体は忘れずに申請をお願いします。

〈申し込み期間（先着順）〉
4月3日（金）～4月12日（日）
以下のURLよりお申し込みください。
https://cw.ritsumei.ac.jp/campusweb/SVA20D0.html?key=SUR20200402171145328100530

〈申込確定結果発表〉
4月14日（火）
manaba＋Rおよび学内アドレスへメールにて通知します。</p>
<h3 class='info9'>お知らせ「＜注意＞この案内が届いている方はCAMPUS WEBで「履修状況確認」を確認してください」が配信されました。</h3>
<p class='detail9'>こちら理工学部事務室です。
＜注意＞この案内が届いている方はCAMPUS WEBで「履修状況確認」を確認してください

この案内は、manaba+Rにて早期利用申請を行ったが、
期間中にCAMPUS　WEBにて受講登録をしていない科目がある方に
お送りしています。

manaba+Rの早期利用申請では受講登録が出来ません。
受講登録が出来ないと当該学期の単位を修得できません。
「CAMPUS　WEB」⇒「履修状況確認」⇒「科目一覧」
で、受講登録出来ている科目を確認してください。

もし受講登録が出来ていない場合は、
昨日ご案内しております「2020年度春学期受講登録の取り扱いについて」を
ご確認の上、ご自身でご対応ください。

以上</p>
<h3 class='info10'>お知らせ「ピア・サポート団体、学部プロジェクト団体、その他大学が認めた団体のチラシ募集のお知らせ」が配信されました。</h3>
<p class='detail10'>学生の皆さん

（本案内は、ピア・サポート団体、学部プロジェクト団体、その他大学が認めた団体の皆さんを対象とした内容となっています。）

大学では学友会からの要請を受けて課外自主活動団体のチラシをmanaba+R（https://secure.ritsumei.ac.jp/students/pathways-future/student_life/volunteer.html/）
にアップをします。

ピア・サポート団体、学部プロジェクト団体、その他大学が認めた団体の皆さんの団体チラシにもこの機会を利用いただければと考えています。

掲載を希望する団体は以下の内容をご確認のうえご応募ください。

〇団体のチラシはPDFデータで以下のアドレスへ期日までに送付をお願いします。
送付先：gakuseic@st.ritsumei.ac.jp
送付期限：4月14日（火）13時まで

〇チラシに記載してはいけない事項
・個人情報の掲載
→ただし団体のメールアドレスやSNSなどは可とします。
・公序良俗に反する内容</p>
<h3 class='info11'>お知らせ「【正課外】【公開期間残り１ヵ月】無料オンライン公開講座/「SDGs表現論　プロジェクト・プラグマティズム・ジブンゴト」」が配信されました。</h3>
<p class='detail11'>無料で学べるオンライン公開講座のご案内です。１回の視聴は約10分程度で、スマートフォンでも学習することが可能です。
「SDGs表現論　プロジェクト・プラグマティズム・ジブンゴト」が間もなく閉講となります。この機会にぜひご受講ください。
  ■講座概要
【講座名称】：「SDGs表現論　プロジェクト・プラグマティズム・ジブンゴト」
【講　　師】：山中司　生命科学部教授
上田隼也　立命館SDGs推進本部　イノベーションオーガナイザー
【開講期間】：～　5月8日（金）まで開講中
  ■受講方法
→講座情報・受講申込はこちら
https://lms.gacco.org/courses/course-v1:gacco+ga143+2020_01/about
    ＜その他・開講中の講座＞
・「現代（いま）に生きる子どもの心理学」
・「【経営学】事例から学ぶデジタル・トランスフォーメーション」
→詳細はこちら： http://www.ritsumei.ac.jp/community_affiliations/course/jmooc/
    ※本講座は正課外の講座であり、単位認定はおこなわれません。
  本件に関するお問合せ
社会連携課　075-813-8247</p>
<h3 class='info12'>お知らせ「【CLA講座】IELTSテスト対策講座Writing添削コースのみ開講します。」が配信されました。</h3>
<p class='detail12'>---*---*---*---*---*---*---*---*---*---*---*---*---*---*---*---*---*---*---*---
今年度もCLA講座は、もっと『英語』を勉強したい皆さんを応援します！！
が、新型コロナウィルスの影響拡大に伴い、春セメスターの対面授業講座は中止となりました。

しかし、メールで添削を行う、IELTSテスト対策講座のWriting添削コースだけは
募集を行います。（5回添削コースです）
詳細はホームページを確認してください。
http://www.ritsumei.ac.jp/gengo/cla/
 ---*---*---*---*---*---*---*---*---*---*---*---*---*---*---*---*---*---*---*---
  　★IELTSテスト対策講座　（Eメールによる通信講座）★
Writing 添削コース
WEB申込受付締切　　4/22（水）17：00まで
  ■受講申込
CLA講座の申込はすべてWeb申込となります（先着順）。
募集要項も掲載していますので詳細はCLAのホームページをご覧ください。
http://www.ritsumei.ac.jp/gengo/cla/
 コロナが収束し、また講座が開講できましたら、是非ご参加下さい。

---CLA講座ラインナップ---
★TOEIC® L&Rテスト対策講座★
将来のキャリアアップの必須アイテム！
★TOEFL®テスト対策講座★
★IELTSテスト対策講座★
海外留学へのパスポート！
        ---------------------------------------------------------------
言語習得センター（ＣＬＡ）
（衣  笠）　尚学館１F    　　　　 　 TEL（075）465-7878
（ＢＫＣ）　セントラルアーク2F　　　 TEL（077）561-3358
（ＯＩＣ）  A棟1階 AN事務室内　　　　TEL（072）665-2061
   　Mail：gengocla@st.ritsumei.ac.jp  
   　HP：http://www.ritsumei.ac.jp/gengo/cla/
---------------------------------------------------------------</p>
<h3 class='info13'>お知らせ「4月6〜7日のmanaba+Rの動作遅延について（お詫び）」が配信されました。</h3>
<p class='detail13'>4月6〜7日のmanaba+Rの動作遅延について（お詫び）

4月10日　立命館大学

 　4月6日および7日にアクセスの集中によりmanaba+Rの動作が大幅に遅延し，タイムアウトが多発するという事態が生じました。Web授業の土台となるmanaba+Rの動作に障害が生じたことについて学生の皆さんにお詫び致します。
大学は政府による緊急事態宣言の発令に伴い4月8日から5月6日までの学生のキャンパスの入構禁止および一斉休講を決定するとともに，5月7日からのWeb授業の再開に 向けて準備を進めています。manaba+Rについても，Web授業の再開時に同様の動作遅延が生じないよう十分な対策を講じます。
なお、４月6〜７日のmanaba+R の動作遅延の影響については成績評価等において不利益にならないよう配慮しますので、授業への出席や参加に支障のあった方は、授業再開後、担当教員にお知らせ下さい。

以上</p>
<h3 class='info14'>お知らせ「学生の皆様 立命館保健センターの閉室に関するお知らせ」が配信されました。</h3>
<p class='detail14'>学生の皆様
立命館保健センターの閉室に関するお知らせ
  新型インフルエンザ等対策特別措置法に基づく緊急事態宣言が発令され、立命館大学では皆さんの生命と安全、健康を守ると同時に、感染拡大防止の社会的責任を果たす必要があると考え、対象期間中のキャンパス内への入構を禁止する措置を実施しています。それに伴い保健センターも～5/6まで閉室となりますのでご理解ください。
  ★学生の皆さん
健康診断の実施はできませんが「WEB問診」は全学生が答えてください。この回答をもって2020年度健康診断を受診したことに替えます。
締め切り4月28日（火）15：00
WEB問診はこちらをクリック
https://cw.ritsumei.ac.jp/campusweb/SVA20D0.html?key=SUR20200311173120549806095
  ★就職活動をされている皆さま
本年度の健康診断証明書を発行できない旨の説明文書を「WEB問診」回答後に送られるメールからダウンロードすることができます。必要な方は人事・採用担当者にご提出ください。
本年度の代用として2019年度の健康診断証明書の発行ができるよう、特例で準備を進めています。2020年5月中旬以降に発行開始する予定です。（2019年度に健康診断を受けていない方には対応できません。）
  ★新入生の皆さま
「健康調査票」をまだ提出していない方は、次回の登校時で構いません。所属キャンパスの保健センターに忘れず提出してください（9：30～17：00）。
  ★医療機関を受診したい場合
京都府の医療機関　「京都健康よろずネット」
http://www.mfis.pref.kyoto.lg.jp/ap/qq/men/pwtpmenult01.aspx
滋賀県の医療機関　「医療ネット滋賀」
https://www.shiga.iryo-navi.jp/qqport/kenmintop/
大阪府の医療機関　「大阪府医療機関情報システム」
http://www.mfis.pref.osaka.jp/apqq/qq/men/pwtpmenult01.aspx
  ★大学の近隣の医療機関はこちら
衣笠・朱雀キャンパス近隣医療機関一覧
http://www.ritsumei.ac.jp/mng/gl/hoken/doc/KICSZCkinrin.pdf
びわこ・くさつキャンパス近隣医療機関一覧
http://www.ritsumei.ac.jp/mng/gl/hoken/doc/BKCkinrin.pdf
大阪いばらきキャンパス近隣医療機関一覧
http://www.ritsumei.ac.jp/mng/gl/hoken/doc/OICkinrin.pdf
  ★留学に関する健康状態についての問い合わせがある場合
下記メールに「要件」と「学生証番号」「氏名」「連絡先」を記入して送信ください
globalhc@st.ritsumei.ac.jp
返信に数日かかりますが、お問合せの受付をさせていただきます。
  ★その他保健センターに問い合わせがある場合
下記メールに「要件」と「学生証番号」「氏名」「連絡先」を記入して送信ください
hokenask@st.ritumei.ac.jp
返信に数日かかりますが、お問合せの受付をさせていただきます。
  立命館保健センター</p>
<h3 class='info15'>お知らせ「2020年度正課外における奨学金・助成金の募集期間変更について」が配信されました。</h3>
<p class='detail15'>課外活動に取り組み学生のみなさんへ

新型コロナウイルス感染拡大における緊急事態宣言発令に伴い、「課外での成長を支援する奨学金・助成金」につき、募集または例年募集予定であったものの期間/期間変更を添付データのとおりご案内します。
詳細は添付データを確認することと、以のHPを随時更新しますので、ご確認ください。

〇課外での成長を支援する奨学金・助成金 HP
http://www.ritsumei.ac.jp/scholarship/grow.html/

〇対象奨学金・助成金
・立命館大学アスリート・クリエーター育成奨学金
・立命館大学課外自主活動団体助成制度＜プロジェクト助成＞
・立命館大学課外自主活動団体助成制度＜基盤活動助成＞
・立命館大学＋R校友会未来人財育成奨学金（成長支援）
・立命館大学学びのコミュニティ集団形成助成金（正課外自主活動）

募集期間変更
(奨学金)募集期間変更一覧について.pdf - 2020-04-10 13:10:54</p>
<h3 class='info16'>お知らせ「【エクテン】（BKC）キャンパス内で受講可能な資格講座」が配信されました。</h3>
<p class='detail16'>４月７日（火）に緊急事態宣言が発令され、それに伴い４月８日（水）から全キャンパス
入構禁止となり、不安に思っている方も多いと思います。
このような状況にいる時こそ、近い将来、自分の強い味方になる資格について
考えてみませんか？

エクステンションセンターでは、人気資格講座を多数取り揃えています。
5月から、ガイダンスを続々実施予定ですので、せひご参加ください。

受講生の大半は1・2回生です。興味のある方はもちろん、将来像が漠然としている方も、
まずはお気軽にガイダンスに参加（無料・予約不要）してください。

※最新情報を随時更新していきますので、manaba+Rを定期的にご確認ください。

エクテン講座の特徴
☆キャンパス内で受講可能！
☆カリキュラムは立命館大学生向け！
☆学生向けの特別価格！
☆先生の丁寧なフォロー！
☆欠席した際のWeb配信フォロー！

ガイダンスのご案内
（１）秘書技能検定準1級ガイダンス
タイトル：就職を有利に！夢・目標のチカラになる秘書検定のすべて
実施日：5月7日（木）18：00　 コラーニングハウスⅡ602

（２）日商簿記3級ガイダンス
タイトル：ビジネス全般に役立つ資格～簿記3級短期合格法～
実施日：5月8日（金）18：00　 コラーニングハウスⅡ601

（３）ITパスポートガイダンス
タイトル：全ての社会人に役立つ！試験の魅力と取得メリット＆具体的学習方法
実施日：5月8日（金）18：00　 アクロスウイング14

（４）アプリ(iPhone)開発講座　ガイダンス
タイトル：アプリ開発の魅力教えます！　～学生のうちにスキルアップで大変身～
実施日：5月9日（土）13：00～14：00　＆　16：30～17：30
アクロスウイング13

（５）宅地建物取引士ガイダンス
タイトル：未来を拓く宅地建物取引士への道～在学中に短期合格！！～
実施日：5月11日（月）12：20～　＆　18：00～
コラーニングハウスⅡ601

（６）色彩検定ガイダンス
タイトル：色彩検定って何？～色彩検定の魅力と試験制度をお話しします～
実施日：5月11日（月）18：00
コラーニングハウスⅡ701

（７）CAD利用技術者2級ガイダンス
タイトル：ものづくり業界に必須の資格　CAD利用技術者試験とは
実施日：5月11日（月）18：00
プリズムハウス24

（８）旅行業務取扱管理者ガイダンス
タイトル：法令から観光地・JRまで！旅行業務取扱管理者の役割と合格プログラム
実施日：5月12日（火）12：20～　＆　18：00～
コラーニングハウスⅡ603

（９）パソコンスキルアップWord・Excelガイダンス
タイトル：社会人の必須スキル　MOS資格取得方法
実施日：5月13日（水）12：20～　＆　18：00～
プリズムハウス24

（１０）ファイナンシャルプランナー3級ガイダンス
タイトル：FP資格活用法～未来の選択肢を広げる資格～
実施日：5月15日（月）18：00～
コラーニングハウスⅡ602

（１１）CAD利用技術者1級（機械）ガイダンス
タイトル：CAD利用技術者試験1級　効率学習法！
実施日：6月18日（木）18：00～
プリズムハウス24

WEBパンフについて
http://www.ritsumei.ac.jp/extension/pamphlet/


/////////////////////////////////////////////////////////////////////////////////////////////////////
お問い合わせ先
生協リンクショップ内エクステンションセンター資格講座窓口
TEL：077-561-3493
////////////////////////////////////////////////////////////////////////////////////////////////////</p>
<h3 class='info17'>お知らせ「4/4（土）～5/1（金）のキャンパス間シャトルバスの運休について」が配信されました。</h3>
<p class='detail17'>学生・院生のみなさんへ

緊急事態宣言を受けたキャンパス内への入構禁止措置（4/7）を受けて、
4/20（月）～5/1（金）のキャンパス間シャトルバスは【全便運休】とします。

なお、5/7（木）以降の運行については、今後の状況を踏まえて改めてお知
らせします。
（以上）</p>
<h3 class='info18'>お知らせ「E) 2020年度春学期受講登録の取り扱いについて / Handling of the Course Registration in Spring Semester AY2020」が配信されました。</h3>
<p class='detail18'>学生の皆さんへ
2020年度春学期の受講登録についてご案内します。

〇4月8日（本登録期間終了）までに登録を行った内容は有効なものとして取り扱います
〇4月に予定されていた失念者登録については中止します
〇5月13日～15日に予定されていた受講辞退期間は中止します
〇5月中旬までに、4月中の休講措置を踏まえて、シラバスが変更される授業があります（授業計画、成績評価方法など）
〇シラバス変更を踏まえて、5月にもう一度受講登録ができる機会を設けます
・全学生を対象とします。さまざまな事情で本登録期間に受講登録を行えなかった人（受講登録失念者）についてもこの期間に登録を受け付けます
・この期間に受講登録をするにあたり、申請などは不要です
・ただし、各学部・研究科の判断によって、追加の受講登録、受講登録の削除が出来ない科目があります（対象科目は受講登録期間開始までに、manaba+Rを通じてお知らせします）
・5月の受講登録に関する詳細は、5月7日に案内します

To all students,
We would like to inform you of the Course Registration of Spring Semester AY2020.

○The courses registered by April 8 (by the end of the Regular Course Registration Period) are handled as valid.
○The registration scheduled in April for the students who have missed to register courses will be canceled.
○The Course Cancellation Period that was originally scheduled from May 13 to 15 will be canceled.
○By mid-May, the syllabus of some courses will be changed in light of the class cancellation during April (e.g. course plan, grade evaluation method, etc.). 
○Following the changes of syllabus, we will provide students another opportunity to register courses once again in May.
・This opportunity is open for all students. Those who were not able to register during the period of Regular Course Registration for some reason will also be accepted during this period.
・You are not required to apply for this opportunity in order to register courses during this period. However, please be informed that some courses cannot be added or deleted depending on the decision of each College or Graduate School (For the relevant courses, we will notify via manaba+R by the beginning of the period of the course registration.).
・The details of the course registration in May will be informed on May 7.</p>
<h3 class='info19'>お知らせ「【教職支援センター】教員採用試験願書記入説明資料のご提供について」が配信されました。</h3>
<p class='detail19'>BKCで教職課程を履修されている皆さんへ

2020年4月7日付で新型インフルエンザ等対策特別措置法に基づく緊急事態宣言が発令され、
本学は学生の皆さんの入構を禁止させていただいています。

つきましては、本来、教職支援センターで配布をさせていただいていました、
「教員採用試験願書記入説明資料」について、
以下の添付にてご提供をさせていただきます。

願書記入に際して、ご活用いただきますよう、お願いします。

教職支援センター

  【ＢＫＣ】教員採用試験願書記入説明資料
2020年度　　教員採用試験願書記入ガイダンス.pdf - 2020-04-09 17:36:18
 </p>
<h3 class='info20'>お知らせ「E)Handling of Final Examinations in Spring Semester AY2020」が配信されました。</h3>
<p class='detail20'>Handling of Final Examinations in Spring Semester AY2020

 We are currently preparing to resume web-based classes from May 7 while monitoring the spread of novel coronavirus (COVID-19).
 We are planning to repurpose the late July period originally designated for final examinations for all Colleges, for use for special makeup classes. We will inform you of the resulting changes to grade evaluation and criteria in mid-May.
 The makeup classes conducted during the special makeup classes period are different from regular makeup classes and will be subject to grade evaluation. Moreover, in the case that the spread of COVID-19 takes a turn for the better, face-to-face classes and examination may be conducted. As the details of the implementation may vary from College to College, going forward, please refer to the information/instructions provided by each College.

In summary, final examinations for all Colleges will not be conducted; however, there is a possibility that examinations may be conducted in some Colleges/courses during the period of makeup classes (originally scheduled for final examinations), if the spread of COVID-19 takes a turn for the better.

Going forward, we will keep you informed of the answers of our most frequently received questions and update you on the situation, policies and plans using this method. Therefore, please frequently check the updates on manaba+R during this class cancellation period.</p>
<h3 class='info21'>お知らせ「Consultation Desk for Students at the Office of Student Affairs」が配信されました。</h3>
<p class='detail21'>Consultation on various aspects of student life is available at the 
following sections of the Office of Student Affairs. 
Under the current declaration of State of Emergency by the government,
the following consultation desks will open for student consultation
to the extent possible (non-direct meeting ways)  .
For further information, such as what types of support are available and how to apply, please refer to the websites listed below:  

1）Student Support Room                http://www.ritsumei.ac.jp/file.jsp?id=457838

2）Disability Resource Center          http://www.ritsumei.ac.jp/drc/news/detail/?id=90

3)  Student Support General Guide     http://www.ritsumei.ac.jp/drc/sougou/en/detail/</p>
<h3 class='info23'>お知らせ「(教職) 2020年度 教職課程（春学期登録）科目の閉講について（お知らせ）」が配信されました。</h3>
<p class='detail23'>教職課程を履修しているみなさん
  春学期本登録の結果、登録者数が過少の教職課程科目については、閉講となります。
本登録期間後の受講登録ができませんので、注意してください。
閉講科目は、下記URLから掲示を確認してください。
教職課程HP「教職課程を履修中の皆さんへ（学内のみ）」のお知らせ一覧
https://secure.ritsumei.ac.jp/students/kyoshoku/news/list_rishu.html/
の中の「2020年度 教職課程科目 春学期登録科目の閉講科目一覧」

  なお、閉講科目の追加が生じた場合には追って連絡します。
  以上</p>
<h3 class='info24'>お知らせ「2020年度春学期定期試験の取り扱いについて」が配信されました。</h3>
<p class='detail24'>2020年度春学期定期試験の取り扱いについて

(1) 現在，本学では感染症拡大の状況を見極めつつ，5月7日からwebによる授業を再開にする準備を進めています。

(2) 7月下旬に予定していた全学部一斉の定期試験期間は，特別の補講期間に変更する予定です。これに伴う成績評価方法・基準の変更については，5月中旬にお知らせします。

(3) 上記の特別補講期間における補講は，通常の補講と異なり成績評価の対象となります。また，感染症拡大の状況が好転している場合には，対面授業や試験が実施される可能性もあります。実施にあたっての詳細は学部によって異なりますので，今後学部から出される連絡・指示をご参照下さい。

以上をまとめると，全学部一斉の定期試験は実施しませんが，補講期間（当初の定期試験期間）においては，感染症拡大の状況が好転している場合は，一部の学部・科目において試験が実施される可能性があります。

問い合わせの多い点については今後もこのような形で皆さんに状況・方針・予定をお知らせしていきますので，一斉休講期間中もmanaba+Rを日常的に確認するようお願い致します。

以上</p>
<h3 class='info25'>お知らせ「(教職) 2020年度 回生別教職課程関連諸行事日程 正誤表の掲載について」が配信されました。</h3>
<p class='detail25'>各　位

本日、教職課程HP（http://www.ritsumei.ac.jp/kyoshoku/）に、
2020年度 回生別教職課程関連諸行事日程 正誤表（衣笠・BKC・OIC）を掲載しました。

教職課程履修者は必ず確認してください。

以上</p>
<h3 class='info27'>コースニュース「緊急事態宣言を受けた休講について」が配信されました。</h3>
<p class='detail27'></p>
<h3 class='info29'>お知らせ「【中止連絡】外国語コミュニケーションルーム　英語サポートデスク　」が配信されました。</h3>
<p class='detail29'>Beyond Borders　Plazaよりお知らせいたします。

4月7日に発令されました政府による「緊急事態宣言」発令を踏まえた措置により、
授業が一斉休講となりました。外国語教員の業務が停止となるため
BBP　外国語コミュニケーションルーム　/　英語サポートデスクも一斉休講期間中
中止とさせていただきます。

Skype for business を利用した外国語教員との学習を取り入れて下さっていた学生の皆さまには大変
残念なお知らせとなりますが、ご承知のほどお願いします。

5月6日以降の開催に関しては、BBPのHPまた、Manaba+Rのお知らせにてご案内します。
http://www.ritsumei.ac.jp/bbp/
最新情報はBBP　WEBページにてご確認ください。

---------------------------------------------------------------------------------------------------------------------
立命館大学　言語教育センターでは、学生の皆さまの外国語スキルと学習意欲を維持、
サポートするため、休講期間中に利用いただける各ツールを準備しています。

●E-Learning（ぎゅっとe）
http://www.ritsumei.ac.jp/gengo/gaikokugo-gakusyu/e-learning.html/

●＜おすすめオンラインリソース一覧＞
http://www.ritsumei.ac.jp/file.jsp?id=433104

---------------------------------------------------------------------------------------------------------------------

また、外国語の自律学習をサポートするBBPマイレージでは、学習報告書を提出することによりＬＩＮＥ機能を利用した
マイレージを取得することができます。
詳しくはこちらから。http://www.ritsumei.ac.jp/bbp/mileage/


授業再開後、また皆さまとBBPでお会いできることを楽しみにしています。
体調に気を付けて、お過ごしください。


言語教育センター
Beyond　Borders　Plaza</p>
<h3 class='info30'>お知らせ「2020年度春学期「教職課程自主ゼミ」募集の延期について」が配信されました。</h3>
<p class='detail30'>教職課程を履修中のみなさま

2020年度春学期の教職課程自主ゼミの募集について、
2020 年4 月7 日付で新型インフルエンザ等対策特別措置法に基づく緊急事態宣言が発令され、
現在、本学では全キャンパスで入構禁止措置を行ってるため、
募集を延期することとなりました。

募集時期が確定しましたら、改めてご連絡させていただきます。
ご理解、ご了承いただきますようお願いします。

教職教育課</p>

</div>
</body>
</html>